<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公寓管理信息</title>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/layui.js"></script>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb" style="margin: 30px 0px 0px 20px;">
            <span class="layui-breadcrumb">
                <a><cite>公寓</cite></a>
                <a><cite>列表</cite></a>
				<a><cite>信息</cite></a>
            </span>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label">入住查询</label>
            <div class="layui-input-block">
                <input type="text" name="useradd" placeholder="请输入入住查询" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label">调换宿舍</label>
            <div class="layui-input-block">
                <input type="text" name="useredit" placeholder="请输入调换宿舍" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label">寒假留宿</label>
            <div class="layui-input-block">
                <input type="text" name="addis" placeholder="请输入寒假留宿" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="fangshi" placeholder="请输入姓名" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 60px;">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['element', 'form', 'jquery',], function () {
        const element = layui.element;
        const form = layui.form;
        const $ = layui.jquery;
        form.on('submit(add)', function (data) {
            $.ajax({
                url: 'auser/keyadd.m',
                dateType: 'json',
                type: 'post',
                data: data.field,
                success: function (data) {
                    if (data.flag > 0) {
                        layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.location.reload();
                        });
                    } else {
                        layer.msg("添加失败,信息已经存在")
                    }
                }
            });
            return false;
        });
    })
</script>
</body>
</html>