<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family.mapper.AuserMapper">

    <resultMap type="com.family.pojo.Auser" id="BaseResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="useradd" column="useradd" jdbcType="VARCHAR"/>
        <result property="useredit" column="useredit" jdbcType="VARCHAR"/>
        <result property="addis" column="addis" jdbcType="VARCHAR"/>
        <result property="fangshi" column="fangshi" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Auser">
        select id,useradd,useredit,addis,fangshi from auser
    </sql>
    <select id="keeplist" resultMap="BaseResultMap"  parameterType="com.family.pojo.Auser">
        <include refid="Auser"></include>
    </select>
    <insert id="saveMAdmin" parameterType="com.family.pojo.Auser">
        insert into auser(useradd,useredit,addis,fangshi) values (#{useradd},#{useredit},#{addis},#{fangshi})
    </insert>
    <update id="editMAdmin" parameterType="com.family.pojo.Auser">
        update auser set useradd=#{useradd},useredit=#{useredit},addis=#{addis},fangshi=#{fangshi} where id=#{id}
    </update>
    <delete id="delMAdminById" parameterType="int">
        delete from auser where id=#{id}
    </delete>
</mapper>
